<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="resources/favicons/site.webmanifest">
    <link rel="mask-icon" href="resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="resources/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="resources/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/contact.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>deepak chouhan</title>
</head>

<body class="">
    <header>
        <nav id="js-nav">
            <div id="desktopnav">
                <div class="email">
                    <div class="blob">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 50 50"
                            fill="currentColor">
                            <path id="Blob"
                                d="M-46.689-76.785c4.163,1.867,7.286,6.337,8.565,11.143,1.249,4.775.625,9.857,0,15-.654,5.143-1.309,10.316-4.074,13.714-2.736,3.4-7.584,4.959-12.49,6.52-4.877,1.561-9.844,3.061-14.334,2.082-4.461-.98-8.476-4.439-11.955-8.418-3.45-4.01-6.394-8.571-6.424-13.163-.059-4.561,2.736-9.214,5.145-13.806,2.379-4.592,4.312-9.184,7.732-11.418,3.39-2.235,8.268-2.143,13.323-2.48C-56.146-77.918-50.882-78.652-46.689-76.785Z"
                                transform="translate(87.403 78.014)" />
                            <path id="Email_icon"
                                d="M5.8,18A5.833,5.833,0,0,1,0,12.155V5.845A5.824,5.824,0,0,1,5.8,0h8.4A5.842,5.842,0,0,1,20,5.845V7.307a.71.71,0,0,1-.707.713L19.284,8a.705.705,0,0,1-.5-.209.716.716,0,0,1-.207-.5V5.845A4.439,4.439,0,0,0,14.2,1.435H5.8A4.44,4.44,0,0,0,1.424,5.845v6.309A4.44,4.44,0,0,0,5.8,16.565h8.4a4.439,4.439,0,0,0,4.379-4.411.716.716,0,0,1,1.424,0A5.842,5.842,0,0,1,14.2,18ZM8.05,9.98,3.928,6.656a.725.725,0,0,1-.106-1.007.7.7,0,0,1,.991-.107L8.969,8.858a1.425,1.425,0,0,0,1.769,0l4.113-3.316h.009a.711.711,0,1,1,.885,1.114L11.632,9.98a2.84,2.84,0,0,1-3.582,0Z"
                                transform="translate(15 16)" />
                        </svg>
                    </div>
                    <div class="link">
                        <a>deepak16chouhan@gmail.com</a>
                    </div>
                </div>
            </div>
            <div id="mobilenav">
                <div id="mobilenavicon">
                    <svg id="menu_icon" class="mobilenavsvg" xmlns="http://www.w3.org/2000/svg" width="25" height="17"
                        viewbox="0 0 25 17" fill="currentColor">
                        <rect id="mob-3" width="25" height="3" transform="translate(0 14)" />
                        <rect id="mob-2" width="25" height="3" transform="translate(0 7)" />
                        <rect id="mob-1" width="25" height="3" />
                    </svg>
                </div>

                <div id="navblur">
                </div>
                <section id="mobilenavbar">
                    <ul class="mobilenavbar-ul">
                        <li><a href="/">Home</a></li>
                        <li><a class="work-link" href="/">Work</a></li>
                        <li><a class="contact-link" href="/contact">Contact</a></li>
                        <li><a href="#">Resume</a></li>
                    </ul>
                    <div class="navSocial_bar">
                        <ul class="list_ul">
                            <li>
                                <a href="https://github.com/deepak-chouhan" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="socialbar_icon">
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/dcdeepakdc/" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="socialbar_icon">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/deepak-chouhan-a396591b3/" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="socialbar_icon">
                                        <path
                                            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                                        </path>
                                        <rect x="2" y="9" width="4" height="12"></rect>
                                        <circle cx="4" cy="4" r="2"></circle>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/dcdeepakdc" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20"
                                        fill="none" stroke="currentColor" stroke-width="1.5" class="socialbar_icon">
                                        <circle cx="10" cy="10" r="10" stroke="none" />
                                        <circle cx="10" cy="10" r="9.25" fill="none" />
                                        <path d="M-3732.989,397.276s6.708,5.286,7.928,16.961"
                                            transform="translate(3739.212 -395.667)" />
                                        <path d="M-3732.666,397.667s6.541,3.529,5.495,15.634"
                                            transform="translate(414.301 3736.148) rotate(90)" />
                                        <path d="M-3733.611,397.911s8.791,3.384,6.439,15.389"
                                            transform="translate(-393.667 -3716.576) rotate(-90)" />
                                    </svg>

                                </a>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>
        </nav>

        <div class="row">
            <div class="intro wrapper">
                <div class="">
                    <h1>Lets talk</h1>
                    <p>If you want to hire me or just wanna say hello. Feel free to contact me</p>
                </div>
                <div>
                    <form method="POST" action="/contact" class="contact-form">
                        <div class="row">
                            <p>Name</p>
                            <input placeholder="Your name" type="text" name="client_name" id="">
                        </div>
                        <div class="row">
                            <p>Email</p>
                            <input placeholder="Your email id" type="email" name="client_email" id="">
                        </div>
                        <div class="row">
                            <p>Message</p>
                            <textarea placeholder="Write your message here" name="client_mssg" id="" cols="25"
                                rows="5"></textarea>
                        </div>
                        <div class="row">
                            <input onclick="displaymssg()" type="submit">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </header>

    <section class="mainbody">

        <!-- socialbar_icon Social bar -->
        <!-- Whoever is inspecting this page to know how i made this floating bar, i want to let you know that this social bar in ispired from a different porfolio https://brittanychiang.com/ -->
        <div class="Social_bar js--wp-1">
            <ul class="list_ul">
                <li>
                    <a href="https://github.com/deepak-chouhan" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="socialbar_icon">
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/dcdeepakdc/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="socialbar_icon">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/deepak-chouhan-a396591b3/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="socialbar_icon">
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                            </path>
                            <rect x="2" y="9" width="4" height="12"></rect>
                            <circle cx="4" cy="4" r="2"></circle>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://dribbble.com/dcdeepakdc" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none"
                            stroke="currentColor" stroke-width="1.5" class="socialbar_icon">
                            <circle cx="10" cy="10" r="10" stroke="none" />
                            <circle cx="10" cy="10" r="9.25" fill="none" />
                            <path d="M-3732.989,397.276s6.708,5.286,7.928,16.961"
                                transform="translate(3739.212 -395.667)" />
                            <path d="M-3732.666,397.667s6.541,3.529,5.495,15.634"
                                transform="translate(414.301 3736.148) rotate(90)" />
                            <path d="M-3733.611,397.911s8.791,3.384,6.439,15.389"
                                transform="translate(-393.667 -3716.576) rotate(-90)" />
                        </svg>

                    </a>
                </li>
            </ul>
        </div>
        <footer>
            <p>Designed and developed with <span>&#x2764</span> by Deepak chouhan</p>
        </footer>
    </section>

    <script>
        function displaymssg() {
            alert("Thank you for submiting request, I will get back to you by Email as soon as possible");
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>
    <script src="resources/js/script.js"></script>
</body>

</html>