<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="resources/favicons/site.webmanifest">
    <link rel="mask-icon" href="resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="resources/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="resources/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>deepak chouhan</title>
</head>

<body class="">
    <!-- socialbar_icon Social bar -->
    <!-- Whoever is inspecting this page to know how i made this floating bar, i want to let you know that this social bar in ispired from a different porfolio https://brittanychiang.com/ -->
    <div class="Social_bar js--wp-1">
        <ul class="list_ul">
            <li>
                <a href="https://github.com/deepak-chouhan" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="socialbar_icon">
                        <path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                        </path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/dcdeepakdc/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="socialbar_icon">
                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/deepak-chouhan-a396591b3/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="socialbar_icon">
                        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                        </path>
                        <rect x="2" y="9" width="4" height="12"></rect>
                        <circle cx="4" cy="4" r="2"></circle>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://dribbble.com/dcdeepakdc" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none"
                        stroke="currentColor" stroke-width="1.5" class="socialbar_icon">
                        <circle cx="10" cy="10" r="10" stroke="none" />
                        <circle cx="10" cy="10" r="9.25" fill="none" />
                        <path d="M-3732.989,397.276s6.708,5.286,7.928,16.961"
                            transform="translate(3739.212 -395.667)" />
                        <path d="M-3732.666,397.667s6.541,3.529,5.495,15.634"
                            transform="translate(414.301 3736.148) rotate(90)" />
                        <path d="M-3733.611,397.911s8.791,3.384,6.439,15.389"
                            transform="translate(-393.667 -3716.576) rotate(-90)" />
                    </svg>

                </a>
            </li>
        </ul>
    </div>

    <header>
        <nav id="js-nav">
            <div id="mobilenav">
                <div id="mobilenavicon">
                    <svg id="menu_icon" class="mobilenavsvg" xmlns="http://www.w3.org/2000/svg" width="25" height="17"
                        viewbox="0 0 25 17" fill="currentColor">
                        <rect id="mob-3" width="25" height="3" transform="translate(0 14)" />
                        <rect id="mob-2" width="25" height="3" transform="translate(0 7)" />
                        <rect id="mob-1" width="25" height="3" />
                    </svg>
                </div>

                <div id="navblur">
                </div>
                <section id="mobilenavbar">
                    <ul class="mobilenavbar-ul">
                        <li><a href="/">Home</a></li>
                        <li><a class="work-link" href="/">Work</a></li>
                        <li><a class="contact-link" href="/contact">Contact</a></li>
                        <li><a href="#">Resume</a></li>
                    </ul>
                    <div class="navSocial_bar">
                        <ul class="list_ul">
                            <li>
                                <a href="https://github.com/deepak-chouhan" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="socialbar_icon">
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/dcdeepakdc/" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="socialbar_icon">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/deepak-chouhan-a396591b3/" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="socialbar_icon">
                                        <path
                                            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                                        </path>
                                        <rect x="2" y="9" width="4" height="12"></rect>
                                        <circle cx="4" cy="4" r="2"></circle>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/dcdeepakdc" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20"
                                        fill="none" stroke="currentColor" stroke-width="1.5" class="socialbar_icon">
                                        <circle cx="10" cy="10" r="10" stroke="none" />
                                        <circle cx="10" cy="10" r="9.25" fill="none" />
                                        <path d="M-3732.989,397.276s6.708,5.286,7.928,16.961"
                                            transform="translate(3739.212 -395.667)" />
                                        <path d="M-3732.666,397.667s6.541,3.529,5.495,15.634"
                                            transform="translate(414.301 3736.148) rotate(90)" />
                                        <path d="M-3733.611,397.911s8.791,3.384,6.439,15.389"
                                            transform="translate(-393.667 -3716.576) rotate(-90)" />
                                    </svg>

                                </a>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>
        </nav>

        <section class="dashboard">
            <div class="row">
                <h2>Dashboard</h2>
            </div>
            <div class="row">
                <div class="wrapper">
                    <div class="">
                        <h1>Hello, Deepak</h1>
                        <a class="create-project" href="/uploadproject">
                            <svg class="add-button" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                viewbox="0 0 22 22">
                                <path id="add-outline" d="M122,112v20m10-10H112" transform="translate(-111 -111)"
                                    fill="none" stroke="#112240" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" />
                            </svg>
                            <p>Create project</p>
                        </a>
                    </div>
                    <div class="client-display">
                        <div class="tittle">
                            <h2>Clients</h2>
                        </div>
                        <div class="clients-box">
                            <a href="">
                                <% clients.forEach(function(client){ %>
                                <div class="client">
                                    <div class="client-info">
                                        <div class="name-email">
                                            <h2><%= client.name %></h2>
                                            <p><%= client.email %></p>
                                        </div>
                                    </div>
                                    <div class="client-desc">
                                        <p><%= client.message %><span>...</span></p>
                                    </div>
                                    <div class="time">
                                        <p><%= client.date %></p>
                                    </div>
                                </div>
                                <% }) %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </header>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/vendors/js/jquery.waypoints.min.js"></script>
    <script src="/resources/js/script.js"></script>
</body>

</html>