<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/contact.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>dcdeepakdc</title>

    <style>
        :root {
            --bg: #fcfcfc;
            --navy: #0A192F;
            --navyl: #112240;
            --light: #fcfcfc;
            --grey: #878a8f;
            --neon: #00d1ff;
            --navytransp: rgba(10, 25, 47, 0.95);
            --trans1: cubic-bezier(0.645, 0.045, 0.355, 1);
            --navbg: #fcfcfcab;
        }

        .not-found {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .not-found .title svg,
        .title img {
            margin: 20px;
            
        }

        .dodge{
            border: 5px solid var(--navyl);
            border-radius: 500px;
        }

        .not-found div {
            margin: 50px 0;
        }

        .not-found .para {
            font-weight: 400;
            margin-top: -20px;
        }

        .btn {
            display: inline-block;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 5px;
        }

        .btn-ghost {
            color: var(--navyl);
            border: 1.5px solid var(--navyl);
            font-weight: 300;
            transition: all 0.1s var(--trans1);
            cursor: pointer;
        }

        .btn-ghost:hover {
            color: var(--light);
            background-color: var(--navyl);
        }
    </style>

</head>

<body class="">

    <div class="not-found">
        <div class="title">
            <svg xmlns="http://www.w3.org/2000/svg" width="149.226" height="187.371" viewbox="0 0 149.226 187.371">
                <path id="Path_1311" data-name="Path 1311"
                    d="M108.851-184.2,57.278-71.289h29.6v-31.737h42.113v31.737h25.634v39.671H128.992V3.171H86.879V-31.618H5.4V-67.627L62.161-184.2Z"
                    transform="translate(-5.4 184.2)" fill="#112240" />
            </svg>

            <img class="dodge" src="/resources/img/dodge.png" width="188" height="188" alt="dodge" srcset="">

            <svg xmlns="http://www.w3.org/2000/svg" width="149.226" height="187.371" viewbox="0 0 149.226 187.371">
                <path id="Path_1311" data-name="Path 1311"
                    d="M108.851-184.2,57.278-71.289h29.6v-31.737h42.113v31.737h25.634v39.671H128.992V3.171H86.879V-31.618H5.4V-67.627L62.161-184.2Z"
                    transform="translate(-5.4 184.2)" fill="#112240" />
            </svg>


        </div>

        <div class="para">
            <p>PAGE NOT FOUND</p>
        </div>

        <div class="button">
            <a class="btn btn-ghost" href="/">Go Home</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>
    <script src="resources/js/script.js"></script>
</body>

</html>