<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="POST" class="contact-form">
        <div class="row">
            <p>Personal or professional</p>
            <select name="project_type" id="">
                <option value="Personal">Personal</option>
                <option value="Professional">Professional</option>
            </select>
        </div>
        <div class="row">
            <p>Project type</p>
            <select name="project_type" id="">
                <option value="programming">programming</option>
                <option value="3D">3D</option>
                <option value="webdev">webdev</option>
                <option value="gamedev">gamedev</option>
            </select>
        </div>
        <div class="row">
            <p>Project title</p>
            <input placeholder="Project title" type="text" name="project_title" id="">
        </div>
        <div class="row">
            <p>Year</p>
            <input placeholder="Project Year" type="number" name="project_year" id="">
        </div>
        <div class="row">
            <p>Project description</p>
            <textarea placeholder="Write your message here" name="project_description" id="" cols="50" rows="10"></textarea>
        </div>
        <div class="row">
            <input type="submit">
        </div>
    </form>

</body>
</html>