/* --------------------------------------------------------------- */
/* Basic Setup */
/* --------------------------------------------------------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #fcfcfc;
    --navy: #0A192F;
    --navyl: #112240;
    --light: #fcfcfc;
    --grey: #878a8f;
    --neon: #00d1ff;
    --navytransp: rgba(10, 25, 47, 0.95);
    --trans1: cubic-bezier(0.645, 0.045, 0.355, 1);
    --navbg: #fcfcfcab;
}



@font-face {
    font-family: Calibre;
    src: url("/resources/css/fonts/Calibre-Bold.woff2");
}

element.style {
    display: block;
}

html,
body {
    background-color: var(--bg);
    color: var(--navy);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

.mainbody {
    margin: 0 5px;
    padding: 0px;
}

.clearfix {
    zoom: 1
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* --------------------------------------------------------------- */
/* Paragraph */
/* --------------------------------------------------------------- */
h1 {
    font-size: 400%;
    font-weight: 900;
    font-family: Calibre;
    margin: 0;
}

h2 {
    font-size: 200%;
}

/* --------------------------------------------------------------- */
/* Buttons */
/* --------------------------------------------------------------- */
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}

.btn-fill {
    background-color: var(--navyl);
    color: var(--light);
    transition: all 0.2s var(--trans1);
}

.btn-ghost {
    color: var(--navyl);
    border: 1.5px solid var(--navyl);
    font-weight: 300;
    transition: all 0.2s var(--trans1);
}

.btn-ghost:hover {
    color: var(--light);
    background-color: var(--navyl);
}

/* --------------------------------------------------------------- */
/* Reusable */
/* --------------------------------------------------------------- */

section {
    padding: 80px 0;
}

.row {
    max-width: 70vw;
    margin: auto;
}

/* --------------------------------------------------------------- */
/* Social bar */
/* --------------------------------------------------------------- */
.Social_bar {
    position: fixed;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

}

.Social_bar li:hover svg {
    color: var(--neon);
}

.list_ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.Social_bar .list_ul::after {
    content: "";
    margin: 50px auto;
    display: block;
    width: 1.5px;
    height: 50px;
    background-color: var(--navyl);
}

.Social_bar .list_ul::before {
    content: "";
    margin: 50px auto;
    display: block;
    width: 1.5px;
    height: 50px;
    background-color: var(--navyl);
}

.list_ul li {
    padding: 15px 0;
    transition: all 0.25s var(--trans1);
}

.list_ul li:hover {
    transform: translate(0px, -5px);
}

.socialbar_icon {
    width: 20px;
    height: auto;
    color: var(--navyl);
}

.navSocial_bar {
    margin-top: 70px;
}

.navSocial_bar .list_ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.navSocial_bar .list_ul li {
    margin: 0;
    padding: 15px 0;
}


.navSocial_bar .list_ul::after {
    content: "";
    width: 1.5px;
    height: 30px;
    margin-top: 10px;
    background-color: var(--light);
}

.navSocial_bar .socialbar_icon {
    color: var(--light);
}

.navSocial_bar ul li:hover svg {
    color: var(--neon);
}

/* --------------------------------------------------------------- */
/* Navbar */
/* --------------------------------------------------------------- */

header {
    height: 100vh;
}

nav {
    overflow: hidden;
    font-size: 80%;
    font-weight: 400;
    width: 100vw;
    position: fixed;
    background-color: var(--navbg);
    z-index: 4;
    transition: all 0.3s var(--trans1);
}

#mobilenavbar {
    position: fixed;
    padding: 0px;
    top: 0;
    right: 0;
    z-index: 5;
    width: 0px;
    height: 100vh;
    background-color: var(--navytransp);
    backdrop-filter: blur(10px);
    transition: all 0.1s;
}

.mobilenavbar-ul {
    text-align: center;
    margin: 50px;
}

.mobilenavbar-ul li {
    margin-top: 50px;
    font-size: 100%;
    list-style: none;
}

.mobilenavbar-ul li a {
    font-size: 100%;
    color: var(--light);
    text-decoration: none;
    transition: all 0.1s var(--trans1);
    
}

#mobilenavbar ul li:hover a {
    color: var(--neon);
}

#mobilenavicon {
    position: fixed;
    top: 25px;
    right: 30px;
    z-index: 9;
    cursor: pointer;
}

#mobilenavicon svg {
    fill: var(--navyl);
    transition: all 0.1s var(--trans1);
}

#mobilenavicon:hover svg {
    fill: var(--neon);
}

#navblur {
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: block;
    position: fixed;
    z-index: 4;
    top: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.3s var(--trans1);
    opacity: 0;
    pointer-events: none;
}

#desktopnav {
    overflow: hidden;
    padding: 10px 0;
    backdrop-filter: blur(10px);
}

.email {
    margin: auto;
    float: left;
    margin-left: 3%;
    cursor: pointer;
    text-decoration: none;
}

.email div {
    vertical-align: middle;
}

.blob {
    background-image: url("../img/Blob.svg");
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.link {
    display: inline-block;
}

#Email_icon {
    fill: var(--light);
}

.blob img {
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.email div a {
    text-decoration: none;
    margin-left: 15px;
    color: var(--navy);
}


.nav-links {
    float: right;
    margin-top: 16px;
    margin-right: 3%;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--navy);
}

.nav-links li:nth-of-type(1) {
    margin-left: 0;
}

.email:hover a {
    color: var(--neon);
}

.nav-links li:hover a {
    color: var(--neon);
}


/* Sticky Nav */




/* ------------ */
/* --------------------------------------------------------------- */
/* Intro */
/* --------------------------------------------------------------- */
.intro {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--navyl);
    overflow: hidden;
    z-index: 1;
}

.intro h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 400%;
}

.intro p {

    font-weight: 300;
    color: var(--grey);
    font-family: 'Roboto Mono', monospace;
    width: 40%;
    margin: auto;
    margin-top: 20px;
}

.intro div a {
    margin-top: 70px;
}

.bg-h1 {
    color: #F4F5FA;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1800%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* filter: drop-shadow(0px 0px 40px #e7e7e7); */
}

/* --------------------------------------------------------------- */
/* Section-projects */
/* --------------------------------------------------------------- */

.projects {
    width: 100%;
    display: grid;
    /*   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
}

.project-card a {
    display: block;
}

.projects header {
    height: auto;
}

.project-card {
    background-color: #ffffff;
    padding: 30px;
    border: 2px solid #4081f226;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #eeeeee;
    cursor: pointer;
    text-decoration: none;
}

.project-head {
    font-size: 80%;
    display: flex;
    justify-content: space-between;
    color: #878A8F;
}

.project-head p {
    margin: 0;
    font-weight: 400;
}

.project-middle {
    color: #112240;
    margin-top: 60px;
}

.project-middle h1 {
    font-size: 125%;
    font-weight: 600;
}

.project-middle p {
    font-size: 80%;
    font-weight: 400;
    text-align: justify;
}

.projects footer {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    margin-top: 35px;
    color: #3DD598;
    text-align: unset;
}

.projects footer ul {
    margin: 0;
    padding: 0;
}

.projects footer ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid #3DD598;
    border-radius: 3px;
    padding: 4px;
    margin: 10px 10px 10px 0px;
}



/* --------------------------------------------------------------- */
/* ICON */
/* --------------------------------------------------------------- */

/* --------------------------------------------------------------- */
/* Footer */
/* --------------------------------------------------------------- */
footer {
    color: var(--grey);
    text-align: center;
    padding: 2% 0;
    font-weight: 400;
    font-size: 80%;
}

footer span {
    color: rgb(231, 91, 91);
}


/* --------------------------------------------------------------- */
/* Animation */
/* --------------------------------------------------------------- */
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6 {
    opacity: 0;
}




/* --------------------------------------------------------------- */
/* Queries */
/* --------------------------------------------------------------- */

/* big tablets to 1200px: from 768 to 1023px */
@media only screen and (max-width: 1200px) {}

/* small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    .Social_bar {
        display: none;
    }
    .row{
        max-width: 90vw;
    }

    .intro h1 {
        font-size: 320%;
    }

    .intro p {
        font-size: 100%;
        width: 60%;
        margin: 0 auto;
    }
    .bg-h1{
        display: none;
    }

}

/* small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .row {
        max-width: 90vw;
    }

    h1 {
        font-size: 300%;
    }

    nav {
        font-size: 100%;
    }

    .intro h1 {
        font-size: 220%;
    }

    .intro p {
        font-size: 90%;
        width: 70%;
        margin: 10px auto;
    }

    .bg-h1 {
        display: none;
    }

    .projects {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    footer {
        padding: 3% 0;
        font-size: 80%;
    }

    footer p::before {
        content: none;
    }

    footer p::after {
        content: none;
    }



}

/* small phones: from 0 to 500px */
@media only screen and (max-width: 500px) {

    section {
        padding: 50px 0;
    }

    body {
        font-size: 16px;
    }

    .row {
        max-width: 90vw;
    }

    #desktopnav {
        height: 70px;
    }


    .blob {
        display: none;
    }

    .email {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0px;
    }

    .email div a {
        margin: 0px;
    }

    .email a::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 1.5px;
        width: 20px;
        margin-right: 5px;
        background-color: var(--navyl);
    }

    .email a:hover::before {
        background-color: var(--neon);
    }


    .intro h1 {
        font-size: 170%;
        font-weight: bold;
    }

    .intro p {
        font-size: 90%;
        width: 80%;
        margin: 10px auto;
    }
}