/* big tablets to 1200px: from 768 to 1023px */
@media only screen and (max-width: 1200px) {
    .intro {
        width: 100%;
        padding: 0 2%;
    }
    .resumecopy-btn{
        margin-top: 200px;
    
    }

}

/* small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    .row {
        max-width: 80vw;
        padding: 0;
    }

    .container{
        width: 80vw;
    }

    section {
        padding: 60px 0;
    }

    .nav-links {
        display: block;
    }

    /* section-aboutme */
    .about-text {
        text-align: left;
        color: var(--grey);
        margin-top: 10%;
    }

    .section-aboutMe img {
        width: 80%;
        height: auto;
        text-align: left;
    }

    /* section-resume */
    .resume-grid {
        width: 80vw;
    }

    .section-resume .row {
        margin-bottom: 90px;
    }

    .section-resume .container {
        width: 80vw;
    }

    .resumecopy-btn {
        margin-top: 200px;
    }

    .section-resume li {
        font-size: 90%;
    }

    /* section-what i do */

    .whatido .container {
        width: 80vw;
        height: 21vh;
    }

    /* section-Projects */
    .project-card {
        height: 60vh;
    }

    /* section-insta_new */
    .insta-card {
        height: 45vh;
    }

    /* section-contact */
    .contact p {
        width: 60%;
    }



}

/* small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .container {
        width: 80vw;
    }
    .row {
        max-width: 80vw;
        padding: 0;
    }

    section {
        padding: 60px 0;
    }

    .intro {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .intro p {
        font-size: 100%;
        width: 70%;
        margin: 0 auto;
    }

    /* section-aboutme */
    .about-text {
        text-align: left;
        color: var(--grey);
        margin-top: 10%;
    }

    .about-text p {
        font-size: 90%;
        margin-bottom: 10%;
    }

    .section-aboutMe img {
        width: 80%;
        height: auto;
    float: left;    }

    /* section-resume */

    .resume-grid {
        width: 80vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        gap: 0px;
    }

    .section-resume .row {
        margin-bottom: 90px;
    }

    .section-resume .container {
        grid-template-columns: auto;

    }

    .resumecopy-btn {
        margin-top: 100px;
    }

    /* section-project */

    .projects .container, .personal-projects .container{
        grid-template-columns: repeat(1, 1fr);
    }

    .project-card {
        background-position: center;
        background-size: cover;
        display: inline-block;
        text-align: left;
        height: 80vh;
        color: var(--light);
    }

    /* section-what i do */

    .whatido .container {
        width: 80vw;
        height: 70vh;
        grid-template-columns: repeat(2, 1fr);
    }

}

/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    body{
        font-size: 16px;
    }
    p{
        font-size: 100%;
    }

    h1{
        font-size: 300%;
    }

    .row {
        max-width: 80vw;
        padding: 0;
    }

    .project-card {
        background-position: center;
        background-size: cover;
        display: inline-block;
        text-align: left;
        height: 70vh;
        color: var(--light);
    }

    .whatido .container{
        width: 80vw;
        height: 200vh;
        grid-template-columns: repeat(1, 1fr);
    }
    .whatido p{
        font-size: 110%;
    }
    .insta-new .container {
        width: 80vw;
        height: 100vh;
        grid-template-columns: repeat(1, 1fr);
    }
    .contact p{
        width: 100%;
    }
    .contact h1{
        font-size: 250%;
    }
}