/* big tablets to 1200px: from 768 to 1023px */
@media only screen and (max-width: 1200px) {}

/* small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    .Social_bar {
        display: none;
    }

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 60px;
    }

    .project-card {
        text-decoration: none;
        overflow: hidden;
        /* width: 670px; */
        height: 640px;
        color: var(--light);
        position: relative;
        display: flex;
    }

}

/* small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 300%;
    }

    nav{
        font-size: 100%;
    }

    .intro h1 {
        font-size: 400%;
    }

    .intro p {
        font-size: 100%;
        width: 80%;
        margin: 0 auto;
    }

    /* What i do-section */
    .whatido h1 {
        margin-bottom: 20px;
    }

    .whatido .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px;
    }

    .whatido-card {
        background-color: var(--navyl);
        color: var(--light);
        text-align: center;
        padding: 90px 0;
    }

    /* About-section */
    .section-aboutMe p {
        font-size: 100%;
    }

    .section-aboutMe .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 60px;
    }

    .section-aboutMe img {
        float: left;
        width: 80%;
        height: auto;
    }

    .skills-list {
        font-size: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        padding: 0px;
        margin: 20px 0px 0px;
        overflow: hidden;
        list-style: none;
    }

    .projects h1,
    .Personal-projects h1 {
        margin-bottom: 10px;
        font-size: 220%;
    }

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;
    }

    .project-card {
        text-decoration: none;
        overflow: hidden;
        /* width: 670px; */
        height: 440px;
        color: var(--light);
        position: relative;
        display: flex;
        padding: 20px;
    }

    .contact h1 {
        font-size: 300%;
    }

    .contact P {
        width: 70%;
    }

    footer {
        padding: 3% 0;
        font-size: 80%;
    }

    footer p::before {
        content: none;
    }
    footer p::after {
        content: none;
    }




}

/* small phones: from 0 to 480px */
@media only screen and (max-width: 500px) {

    section {
        padding: 50px 0;
    }

    body {
        font-size: 16px;
        overflow: hidden;
    }

    .row {
        width: 90vw;
    }

    #desktopnav{
        display: none;
    }

    .intro h1 {
        font-size: 300%;
    }

    .intro p {
        font-size: 100%;
        width: 80%;
        margin: 0 auto;
    }

    /* What i do-section */
    .whatido h1 {
        font-size: 250%;
        margin-bottom: 20px;
    }

    .whatido .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .whatido-card {
        background-color: var(--navyl);
        color: var(--light);
        text-align: center;
        padding: 90px 0;
    }

    /* About-section */

    .section-aboutMe .row {
        width: 90vw;
    }

    .section-aboutMe p {
        font-size: 100%;
    }

    .section-aboutMe .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 60px;
    }

    .section-aboutMe img {
        float: left;
        width: 100%;
        height: auto;
    }

    .skills-list {
        width: 100%;
        font-size: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        list-style: none;
    }

    .projects h1,
    .Personal-projects h1 {
        margin-bottom: 10px;
        font-size: 200%;
    }

    .projects p,
    .Personal-projects p {
        font-size: 100%;
    }

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px;
    }

    .project-card {
        text-decoration: none;
        overflow: hidden;
        /* width: 670px; */
        height: 540px;
        color: var(--light);
        position: relative;
        display: flex;
        padding: 20px;
    }

    .contact h1 {
        font-size: 250%;
    }

    .contact P {
        width: 90%;
    }

}